.static-box{

    position: static;
    width: 200;
    height: 100;
    background-color: lightblue;
    border: 1px solid blue;
    margin: 20px;
    
    
    }

.relative-box{

position: relative;
top: 20px;
left: 30px;
width: 200px;
height: 100px;
background-color: lightgreen;
border: 1px solid green;
margin: 2px;

}